<div class="col-12">
  <div class="card mb-4">
    <div class="card-header pb-0">
      <h6>Admin Actions</h6>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Action
              </th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="this.authService.isAdmin | async">
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">Add User</h6>
                    <p class="text-xs text-secondary mb-0">Create New Staff</p>
                  </div>
                </div>
              </td>
              <td class="align-middle">
                <span class="badge badge-sm bg-gradient-success col-4">
                  <a
                    href="../admin/register"
                    class="text-white font-weight-bold text-xs"
                    data-toggle="tooltip"
                    data-original-title="Edit user"
                  >
                    <svg class="bi" width="20" height="20" fill="currentColor">
                      <use xlink:href="bootstrap-icons.svg#person-plus" />
                    </svg>
                    Add
                  </a>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">Edit Users</h6>
                    <p class="text-xs text-secondary mb-0">
                      Edit Existing Users
                    </p>
                  </div>
                </div>
              </td>
              <td class="align-middle">
                <span class="badge badge-sm bg-gradient-success col-4">
                  <a
                    href="../admin/modify"
                    class="text-white font-weight-bold text-xs"
                    data-toggle="tooltip"
                    data-original-title="Edit user"
                  >
                    <svg class="bi" width="20" height="20" fill="currentColor">
                      <use xlink:href="bootstrap-icons.svg#person-gear" />
                    </svg>
                    Modify
                  </a>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
