<div class="container">
  <div class="item form col-xl-4 col-lg-5 col-md-7 mx-auto">
    <div class="card-body">
      <form
        [formGroup]="itemForm"
        (ngSubmit)="onSubmit()"
        role="form text-left"
      >
        <div class="mb-3">
          <label for="name">Name</label>
          <input
            class="form-control"
            type="text"
            id="name"
            formControlName="name"
          />

          <div
            class="text-danger text-xxs"
            *ngIf="itemForm.controls?.['name']?.touched"
          >
            <span *ngIf="itemForm.controls?.['name']?.errors?.['required']">{{
              IS_REQUIRED
            }}</span>
          </div>
        </div>

        <div class="mb-3">
          <label for="description">Description:</label>
          <textarea
            class="form-control"
            id="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="mb-3">
          <label for="initial_price">Initial Price:</label>
          <input
            class="form-control"
            type="number"
            id="initial_price"
            formControlName="initial_price"
          />

          <div
            class="text-danger text-xxs"
            *ngIf="itemForm.controls?.['initial_price']?.touched"
          >
            <span *ngIf="itemForm.get('initial_price')?.errors?.['min']">{{
              MIN_VALUE
            }}</span>
          </div>
        </div>

        <div class="mb-3">
          <label for="min_price">Minimum Price:</label>
          <input
            class="form-control"
            type="number"
            id="min_price"
            formControlName="min_price"
          />

          <div
            class="text-danger text-xxs"
            *ngIf="itemForm.controls?.['min_price']?.touched"
          >
            <span *ngIf="itemForm.get('min_price')?.errors?.['min']">{{
              MIN_VALUE
            }}</span>
          </div>
        </div>

        <div class="mb-3">
          <label for="min_increment">Minimum Increment Price:</label>
          <input
            class="form-control"
            type="number"
            id="min_increment"
            formControlName="min_increment"
          />

          <div
            class="text-danger text-xxs"
            *ngIf="itemForm.controls?.['min_increment']?.touched"
          >
            <span *ngIf="itemForm.get('min_increment')?.errors?.['min']">{{
              MIN_VALUE
            }}</span>
          </div>
        </div>

        <!-- <div class="mb-3">
          <label for="opening_time">Opening Time:</label>
          <input
            class="form-control"
            type="date"
            id="opening_time"
            formControlName="opening_time"
          />

          <div
            class="text-danger text-xxs"
            *ngIf="itemForm.controls?.['opening_time']?.touched"
          >
            <span *ngIf="itemForm.get('opening_time')?.errors?.['min']">{{
              MIN_VALUE
            }}</span>
          </div>
        </div> -->

        <!-- <div class="mb-3">
          <label for="closing_time">Closing Time:</label>
          <input
            class="form-control"
            type="date"
            id="closing_time"
            formControlName="closing_time"
          />

          <div
            class="text-danger text-xxs"
            *ngIf="itemForm.controls?.['closing_time']?.touched"
          >
            <span *ngIf="itemForm.get('closing_time')?.errors?.['min']">{{
              MIN_VALUE
            }}</span>
          </div>
        </div> -->

        <div class="text-center">
          <input
            type="submit"
            class="btn bg-gradient-dark w-100 my-4 mb-2"
            value="Submit"
          />
        </div>
      </form>
    </div>
  </div>
</div>
