<li>
    <h2>Item ID: {{ auction.item_id }}</a></h2>
    <p>Seller ID: {{ auction.seller_id }}</p>
    <p>Initial Price: ${{ auction.initial_price }}</p>
    <p>Minimum Increment: ${{ auction.min_increment }}</p>
    <p>Minimum Price: ${{ auction.min_price }}</p>
    <p>Opening Time: {{ auction.opening_time }}</p>
    <p>Closing Time: {{ auction.closing_time }}</p>
    {% if session.get('username') %}
    <form method="POST" action="{{ url_for('notifications_bp.bid_or_notify', item_id=auction.item_id) }}">
        <button class="notification-icon"><i class="material-icons">notifications</i></button>
        <input type="number" name="bid_amount" placeholder="Enter Bid Amount" required>
        <button type="submit" name="action" value="bid">Place Bid</button>
    </form>
    {% endif %}
</li>