@if (this.showUsers$ | async) {
  <a
    class="btn btn-outline-primary d-flex align-items-center shadow-none"
    href="/admin"
    role="button"
    aria-label="Back to Admin Dashboard"
  >
    <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
    <span class="ms-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 0 24 24"
        width="24"
      >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z" />
      </svg>
      Back to Admin Dashboard
    </span>
  </a>
  <app-user-comp class="mt-5" (modifyUser)="updateUser($event)"></app-user-comp>
} @else {
  <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
    <a
      class="btn btn-outline-primary d-flex align-items-center shadow-none"
      href="/admin/modify"
      role="button"
      aria-label="Back to Actions"
    >
      <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
      <span class="ms-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 0 24 24"
          width="24"
        >
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z" />
        </svg>
        Back to Actions
      </span>
    </a>
    <div class="card-body">
      <app-register
        [userDetails]="userData"
        [isAdmin]="isAdmin"
        (success)="userMod()"
      ></app-register>
    </div>
  </div>
}
